<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/6234663fa34c2456412bacd5/1fueauqa0';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->

<!-- Code for tawk.to to trigger custom events from dataLayer and send to Google Analytics -->
<script type="text/javascript">
    var Tawk_API=Tawk_API || {};

    Tawk_API.onChatStarted = function () {
        gtag('event', 'chat_started', {
            event_category: 'chat'
        });

        // Facebook Pixel event
        fbq('track', 'Contact');
    };

    Tawk_API.onOfflineSubmit = function () {
        gtag('event', 'chat_offline_submit', {
            event_category: 'chat'
        });

        // Facebook Pixel event
        fbq('track', 'Contact');
    };
</script>