<header class="page-header js-h-sticky">
    <div class="page-header__inner">
        <div class="page-header__top">
            <span class="hamburger js-nav-trigger">
                <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 8V6h18v2H3zm0 5h18v-2H3v2zm0 5h18v-2H3v2z" fill="currentColor"/></svg>
            </span>

            <div class="page-header__logo-wrapper">
                <a href="/" class="page-header__logo-link"><img src='${require("@/assets/images/logo.svg")}' alt="logo" class="page-header__logo-img"></a>
            </div>

            <nav class="main-nav" role="navigation">
                <ul class="page-header-nav page-header-nav__list">
                    <li><a href="/">COMPANY</a></li>
                    <li><a href="/">CONTACT US</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div class="nav-mob">
    <div class="nav-mob__inner">
        <div class="nav-mob__close-wrapper">
            <div class="js-nav-close nav-mob__close"><svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.333 2.547l-1.88-1.88L10 8.12 2.547.667l-1.88 1.88L8.12 10 .667 17.453l1.88 1.88L10 11.88l7.453 7.453 1.88-1.88L11.88 10l7.453-7.453z" fill="currentColor"/></svg></div>
        </div>

        <div class="nav-mob__list-wrapper">
            <ul>
                <li><a class="drop-down__title" href="/">COMPANY</a></li>
                <li><a class="drop-down__title" href="/">CONTACT US</a></li>
            </ul>
        </div>
    </div>
</div>