<section class="s-ab">
    <div class="page-container">
        <div class="s-ab__top">
            <h2 class="s-ab__title">ABOUT US</h2>
        </div>

        <div class="s-ab__row">
            <div class="s-ab__row-inner">
                <div class="s-ab__item-wrapper" data-aos="fade-up">
                    <div class="s-ab__item">
                        <div class="s-ab__item-image">
                            <img src='${require("@/assets/images/ab-img3.jpg")}'
                                 srcset='${require("@/assets/images/ab-img3.jpg")}, ${require("@/assets/images/ab-img3-2x.jpg")} 2x'
                                 alt="image">
                        </div>

                        <div class="s-ab__item-title">Software Development</div>
                        <div class="s-ab__item-text">
                            We deliver full software development services across technology platforms and industry verticals.
                            Our services include project management, design, development, quality assurance, devops, and support.
                            We engage in several models with customers including: staff augmentation, where we integrate into
                            your existing teams; dedicated teams, where
                            <span class="s-ab__item-more-text hide">
                                we work independent of your existing team but under your management; and fixed bid projects, where we manage all aspects of development.
                            </span>
                            <span class="js-show-more-text s-ab__item-more">Show More</span>
                        </div>
                    </div>
                </div>

                <div class="s-ab__item-wrapper" data-aos="fade-up" data-aos-delay="200">
                    <div class="s-ab__item">
                        <div class="s-ab__item-image">
                            <img src='${require("@/assets/images/ab-img2.jpg")}'
                                 srcset='${require("@/assets/images/ab-img2.jpg")}, ${require("@/assets/images/ab-img2-2x.jpg")} 2x'
                                 alt="image">
                        </div>
                        <div class="s-ab__item-title">Scale Your Team</div>
                        <div class="s-ab__item-text">
                            Scale your team strategically. Spend less time and money on recruiting while getting access to the
                            right talent at the right time. SoftLandtec enables you to scale quickly, economically, and with the right
                            resources. The speed and cost that SoftLandtec enables lowers your risk for starting up new initiatives.
                        </div>
                    </div>
                </div>

                <div class="s-ab__item-wrapper" data-aos="fade-up" data-aos-delay="400">
                    <div class="s-ab__item">
                        <div class="s-ab__item-image">
                            <img src='${require("@/assets/images/ab-img1.jpg")}'
                                 srcset='${require("@/assets/images/ab-img1.jpg")}, ${require("@/assets/images/ab-img1-2x.jpg")} 2x'
                                 alt="image">
                        </div>
                        <div class="s-ab__item-title">Experienced Team</div>
                        <div class="s-ab__item-text">
                            SoftLandtec is a US-based software development service company with
                            development partners across major IT talent hubs in Eastern
                            Europe - Ukraine. We help companies
                            overcome local talent shortages by building dedicated development
                            teams.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>