<section class="s-cu" id="c-us">
    <div class="page-container">
        <div class="s-cu__top">
            <h2 class="s-cu__title">СONTACT US</h2>
        </div>

        <div class="s-cu__row">
            <div data-aos="fade-up" id="f4form-wrapper">
                <form class="form-view theme2" id="agile-form" action="https://j4th.agilecrm.com/formsubmit" method="GET">
                    <fieldset>
                        <p class="agile-form-description">Please fill out the form</p>
                        <div style="display: none; height: 0px; width: 0px;">
                            <input type="hidden" id="_agile_form_name" name="_agile_form_name" value="Contact us">
                            <input type="hidden" id="_agile_domain" name="_agile_domain" value="j4th">
                            <input type="hidden" id="_agile_api" name="_agile_api" value="rivuu8sl0bg4bcvv79vchipgsa">
                            <input type="hidden" id="_agile_redirect_url" name="_agile_redirect_url" value="https://softlandtec.com/form-submited.html">
                            <input type="hidden" id="_agile_document_url" name="_agile_document_url" value="">
                            <input type="hidden" id="_agile_confirmation_msg" name="_agile_confirmation_msg" value="Thanks for filling out the form. Our manager will contact you soon.">
                            <input type="hidden" id="_agile_form_id_tags" name="tags" value="contact_us_form">

                            <input type="hidden" id="_agile_form_id" name="_agile_form_id" value="5770255906963456">
                        </div>
                        <!-- Text input-->
                        <div class="agile-group required-control">
                            <label class="agile-label" for="agilefield-1">Your Name<span class="agile-span-asterisk"> *</span></label>
                            <div class="agile-field-xlarge agile-field">
                                <input maxlength="250" id="agilefield-1" name="first_name" type="text" placeholder="Please, enter your name" class="agile-height-default" required="">
                            </div>
                            <div class="agile-custom-clear"></div>
                        </div>
                        <!-- Text input-->
                        <div class="agile-group required-control">
                            <label class="agile-label" for="agilefield-2">Your  Email<span class="agile-span-asterisk"> *</span></label>
                            <div class="agile-field-xlarge agile-field">
                                <input maxlength="250" id="agilefield-2" name="email" type="email" placeholder="Please, enter your email" class="agile-height-default" required="">
                            </div>
                            <div class="agile-custom-clear"></div>
                        </div>
                        <!-- Textarea -->
                        <div class="agile-group">
                            <label class="agile-label" for="agilefield-4">Your question<span class="agile-span-asterisk"> *</span></label>
                            <div class="agile-field-xlarge agile-field">
                                <textarea maxlength="350" id="agilefield-4" name="note" placeholder="Please, enter your question" class="agile-height-default" required=""></textarea>
                            </div>
                            <div class="agile-custom-clear"></div>
                        </div>
                        <!--recaptcha aglignment-->
                        <!-- Button -->
                        <div class="agile-group bottom-group">
                            <div class="agile-field agile-button-field btn-wrapper">
                                <button type="submit" class="agile-button">Send</button>
                                <div><span id="agile-error-msg"></span></div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <script type="text/javascript">
                    (function(a){var b=a.onload,p=true;isCaptcha=true;if(p){a.onload="function"!=typeof b?function(){try{_agile_load_form_fields()}catch(a){}}:function(){b();try{_agile_load_form_fields()}catch(a){}}};var formLen=document.forms.length;for(i=0;i<formLen;i++){if(document.forms.item(i).getAttribute("id")== "agile-form"){a.document.forms.item(i).onsubmit=function(a){a.preventDefault();try{_agile_synch_form_v5(this)}catch(b){this.submit()}}}}})(window);
                </script>
            </div>
        </div>
    </div>
</section>