<section class="s-sc">
    <div class="page-container">
        <div class="s-sc__top">
            <h2 class="s-sc__title">SUCCESS STORIES</h2>
        </div>

        <div class="s-sc__row">
            <div class="s-sc__row-inner">
                <div class="s-sc__item-wrapper" data-aos="fade-up">
                    <div class="s-sc__item">
                        <div class="s-sc__item-image">
                            <img src='${require("@/assets/images/sc-img1.jpg")}'
                                 srcset='${require("@/assets/images/sc-img1.jpg")}, ${require("@/assets/images/sc-img1-2x.jpg")} 2x'
                                 alt="image">
                        </div>
                        <div class="s-sc__item-title">Dedicated Team for Retail Company</div>
                        <div class="s-sc__item-text">
                            We provided a full SDLC capable scrum team to support the redesign, upgrade and expansion of this university-based retailer.
                        </div>
                    </div>
                </div>

                <div class="s-sc__item-wrapper" data-aos="fade-up" data-aos-delay="200">
                    <div class="s-sc__item">
                        <div class="s-sc__item-image">
                            <img src='${require("@/assets/images/sc-img2.jpg")}'
                                 srcset='${require("@/assets/images/sc-img2.jpg")}, ${require("@/assets/images/sc-img2-2x.jpg")} 2x'
                                 alt="image">
                        </div>
                        <div class="s-sc__item-title">Digital Banking Team</div>
                        <div class="s-sc__item-text">
                            Our team integrated with the client’s in-house team to build a digital banking platform that included personal banking as well as a trading platform using AI tools.
                        </div>
                    </div>
                </div>

                <div class="s-sc__item-wrapper" data-aos="fade-up" data-aos-delay="400">
                    <div class="s-sc__item">
                        <div class="s-sc__item-image">
                            <img src='${require("@/assets/images/sc-img3.jpg")}'
                                 srcset='${require("@/assets/images/sc-img3.jpg")}, ${require("@/assets/images/sc-img3-2x.jpg")} 2x'
                                 alt="image">
                        </div>

                        <div class="s-sc__item-title">Enterprise Process Automation</div>
                        <div class="s-sc__item-text">
                            Our team digitized a customer onboarding process previously managed with Excel, automating much of the process.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>