<section class="s-ts">
    <div class="page-container">
        <div class="s-ts__inner">
            <h2 class="s-ts__title">SOFTLANDTEC TESTIMONIALS</h2>

            <div class="s-ts__slider-wrapper js-ts-slider">
                <div class="s-ts__slide" id="slide_1">
                    "I work with this team because I trust they will take care of me and make me successful. They put together fantastic teams."
                </div>

                <div class="s-ts__slide" id="slide_2">
                    "I am a non-technical founder and SoftLandtec helped me launch my dream app in just a few weeks which saved me a lot of money."
                </div>

                <div class="s-ts__slide" id="slide_3">
                    "Trust and transparency! My team is great about communication and keeping me in the loop."
                </div>
            </div>

            <div class="s-ts__slider-nav">
                <span class="js-ts-slider-prev"><img src='${require("@/assets/icons/nav-prev.svg")}' alt="icon"></span>
                <span class="js-ts-slider-next"><img src='${require("@/assets/icons/nav-next.svg")}' alt="icon"></span>
            </div>

            <div class="decor-1" data-aos="fade-left"></div>
            <div class="decor-2" data-aos="fade-left"></div>
            <div class="decor-3" data-aos="fade-left"></div>
            <div class="decor-4" data-aos="fade-right"></div>
            <div class="decor-5" data-aos="fade-right"></div>
            <div class="decor-6" data-aos="fade-right"></div>
            <div class="decor-7"></div>
            <div class="decor-8"></div>
        </div>
    </div>
</section>