<section class="s-ot" id="s-ot">
    <div class="page-container">
        <div class="s-ot__top">
            <h2 class="s-ot__title">OUR TEAM</h2>

            <div class="s-ot__top-decor">
                <img src='${require("@/assets/icons/scroll-down.svg")}' alt="icon">
            </div>
        </div>

        <div class="s-ot__row">
            <div class="s-ot__row-inner">
                <div class="s-ot__item-wrapper" data-aos="fade-left">
                    <div class="s-ot__item it1">
                        <div class="s-ot__item-image">
                            <img src='${require("@/assets/images/ot1.jpg")}'
                                 srcset='${require("@/assets/images/ot1.jpg")}, ${require("@/assets/images/ot1-x2.jpg")} 2x'
                                 alt="image">
                        </div>
                        <div class="s-ot__item-title">Andrei</div>
                        <div class="s-ot__item-text">Senior Ruby On Rails Developer</div>
                        <div class="decor-1"></div>
                    </div>
                </div>

                <div class="s-ot__item-wrapper" data-aos="fade-left" data-aos-delay="200">
                    <div class="s-ot__item it2">
                        <div class="s-ot__item-image">
                            <img src='${require("@/assets/images/ot3.jpg")}'
                                 srcset='${require("@/assets/images/ot3.jpg")}, ${require("@/assets/images/ot3-x2.jpg")} 2x'
                                 alt="image">
                        </div>
                        <div class="s-ot__item-title">Sergey</div>
                        <div class="s-ot__item-text">Senior Python Developer</div>
                        <div class="decor-2"></div>
                        <div class="decor-3"></div>
                    </div>
                </div>

                <div class="s-ot__item-wrapper" data-aos="fade-left" data-aos-delay="400">
                    <div class="s-ot__item it3">
                        <div class="s-ot__item-image">
                            <img src='${require("@/assets/images/ot2.jpg")}'
                                 srcset='${require("@/assets/images/ot2.jpg")}, ${require("@/assets/images/ot2-x2.jpg")} 2x'
                                 alt="image">
                        </div>
                        <div class="s-ot__item-title">Denis</div>
                        <div class="s-ot__item-text">Senior Python Developer</div>
                        <div class="decor-1"></div>
                        <div class="decor-4"></div>
                        <div class="decor-5"></div>
                        <div class="decor-6"></div>
                    </div>
                </div>

                <div class="s-ot__item-wrapper" data-aos="fade-left">
                    <div class="s-ot__item it4">
                        <div class="s-ot__item-image">
                            <img src='${require("@/assets/images/ot4.jpg")}'
                                 srcset='${require("@/assets/images/ot4.jpg")}, ${require("@/assets/images/ot4-x2.jpg")} 2x'
                                 alt="image">
                        </div>
                        <div class="s-ot__item-title">Igor</div>
                        <div class="s-ot__item-text">Senior React Developer</div>
                        <div class="decor-1"></div>
                    </div>
                </div>

                <div class="s-ot__item-wrapper" data-aos="fade-left" data-aos-delay="200">
                    <div class="s-ot__item it5">
                        <div class="s-ot__item-image">
                            <img src='${require("@/assets/images/ot5.jpg")}'
                                 srcset='${require("@/assets/images/ot5.jpg")}, ${require("@/assets/images/ot5-x2.jpg")} 2x'
                                 alt="image">
                        </div>
                        <div class="s-ot__item-title">Taras</div>
                        <div class="s-ot__item-text">Senior React Developer</div>
                        <div class="decor-2"></div>
                        <div class="decor-3"></div>
                    </div>
                </div>

                <div class="s-ot__item-wrapper" data-aos="fade-left" data-aos-delay="400">
                    <div class="s-ot__item it6">
                        <div class="s-ot__item-image">
                            <img src='${require("@/assets/images/ot6.jpg")}'
                                 srcset='${require("@/assets/images/ot6.jpg")}, ${require("@/assets/images/ot6-x2.jpg")} 2x'
                                 alt="image">
                        </div>
                        <div class="s-ot__item-title">Roman</div>
                        <div class="s-ot__item-text">Senior IOS Developer</div>
                        <div class="decor-1"></div>
                        <div class="decor-4"></div>
                        <div class="decor-5"></div>
                        <div class="decor-6"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="s-ot__bottom">
            <button class="btn js-modal-trigger"
                    onclick="gtag('event', 'click_calculate_btn', {
                       event_category: 'click_btn',
                       event_label: 'Calculate'});">Calculate</button>
        </div>
    </div>
</section>