<secton class="s-hero">
    <video muted playsinline autoplay="autoplay" loop="loop"
           poster="images/hero-bg.jpg"
           class="js-video-bg s-hero__video-bg" preload="auto">
        <source data-src="video/bg-hd.mp4" type="video/mp4">
    </video>

    <div class="page-container">
        <div data-aos="fade-up" data-aos-duration="600">
            <div class="s-hero__content">
                <h1>SOFTLANDTEC</h1>

                <div class="s-hero__text">Scale your team with trusted experts in outsourced software development.</div>

                <a class="btn" href="#c-us"
                   onclick="gtag('event', 'click_contactus_btn', {
                       event_category: 'click_btn',
                       event_label: 'CONTACT US'});">CONTACT US</a>
            </div>
        </div>
    </div>
</secton>