<section class="s-why">
    <div class="s-why__top">
        <div class="page-container">
            <h2 class="s-why__title">WHY SOFTLANDTEC</h2>

            <div class="s-why__top-decor">
                <img src='${require("@/assets/icons/scroll-down.svg")}' alt="icon">
            </div>
        </div>
    </div>

    <div class="s-why__main">
        <div class="page-container">
            <div class="s-why__main-inner">
                <div class="r r1"></div>

                <div class="r r2">
                    <div class="r2__col-1">
                        <div class="r__img-wrapper" data-aos="fade-left">
                            <img src='${require("@/assets/images/w2.jpg")}'
                                 srcset='${require("@/assets/images/w2.jpg")}, ${require("@/assets/images/w2-2x.jpg")} 2x'
                                 alt="image">
                        </div>
                        <div class="decor-1"></div>
                        <div class="decor-2"></div>
                        <div class="decor-3"></div>
                    </div>

                    <div class="r2__col-2">
                        <div class="r__title">Trusted Experts</div>

                        <div class="r__text">
                            Our development teams are staffed with the top development talent in Eastern Europe. Eastern Europe
                            is routinely ranked as one of the top locations for engineering talent globally. The region has a long
                            history of cultivating experts through their international conference programs and extensive network of
                            educational conferences. Ukraine graduates 38,000 annually ensuring a growing technology community.
                        </div>
                    </div>
                </div>

                <div class="r r3">
                    <div class="r3__col-1">
                        <div class="r__img-wrapper" data-aos="fade-right">
                            <img src='${require("@/assets/images/w3.jpg")}'
                                 srcset='${require("@/assets/images/w3.jpg")}, ${require("@/assets/images/w3-2x.jpg")} 2x'
                                 alt="image">
                        </div>
                        <div class="decor-1"></div>
                        <div class="decor-2"></div>
                        <div class="decor-3"></div>
                    </div>

                    <div class="r3__col-2">
                        <div class="r__title">Exceptional Value</div>

                        <div class="r__text">
                            Eastern Europe is at the top of Gartner’s rankings for its Price to Quality Ratio. Outsourcing
                            is not just about the cost savings, it is about getting the most for your money. You can find
                            lower rates in other parts of the world, but the skill level of engineers for what you pay is
                            what really creates the value. The tech community in Eastern Europe enables even a mid level
                            engineer to have experience with five or six projects.
                        </div>
                    </div>
                </div>

                <div class="r r4">
                    <div class="r4__col-1">
                        <div class="r__img-wrapper" data-aos="fade-left">
                            <img src='${require("@/assets/images/w4.jpg")}'
                                 srcset='${require("@/assets/images/w4.jpg")}, ${require("@/assets/images/w4-2x.jpg")} 2x'
                                 alt="image">
                        </div>
                        <div class="decor-1"></div>
                        <div class="decor-2"></div>
                        <div class="decor-3"></div>
                    </div>

                    <div class="r4__col-2">
                        <div class="r__title">Quality and Quantity</div>

                        <div class="r__text">
                            SkillValue, which ranks software engineers by skill level, ranks 5 Eastern European countries in their
                            Top 10. Likewise, software developers from Ukraine averaged 98% and 88.7%, respectively,
                            across all HackerRank challenges (interestingly the US only scored 78%). But it isn’t just about quality,
                            you have to be able to staff your projects. Eastern Europe has more than a million people working in
                            IT engineering (Ukraine - 200,000). Compare this to the 900,000
                            unfilled developer jobs in the US.
                        </div>
                    </div>
                </div>

                <div class="r r5">
                    <div class="r5__col-1">
                        <div class="r__img-wrapper" data-aos="fade-right">
                            <img src='${require("@/assets/images/w5.jpg")}'
                                 srcset='${require("@/assets/images/w5.jpg")}, ${require("@/assets/images/w5-2x.jpg")} 2x'
                                 alt="image">
                        </div>
                        <div class="decor-1"></div>
                        <div class="decor-2"></div>
                        <div class="decor-3"></div>
                    </div>

                    <div class="r5__col-2">
                        <div class="r__title">Ownership and <br> Loyalty</div>

                        <div class="r__text">
                            When you work with SoftLandtec you get one team. One team that understands your business, your needs, and takes a
                            vested interest in your success. Our teams are known for two intangible traits: feeling a personal
                            responsibility for results and the ability to communicate with their teammates ensuring they meet goals and deadlines.
                        </div>
                    </div>
                </div>

                <div class="r r6">
                    <div class="r6__col-1">
                        <div class="r__img-wrapper" data-aos="fade-left">
                            <img src='${require("@/assets/images/w6.jpg")}'
                                 srcset='${require("@/assets/images/w6.jpg")}, ${require("@/assets/images/w6-2x.jpg")} 2x'
                                 alt="image">
                        </div>
                        <div class="decor-1"></div>
                        <div class="decor-2"></div>
                        <div class="decor-3"></div>
                    </div>

                    <div class="r6__col-2">
                        <div class="r__title">Advisory Services</div>

                        <div class="r__text">
                            With our years of experience in outsourcing software development (for both clients and in our own ventures)
                            we can help guide you through the risks and pitfalls of international outsourcing.  We can show you how to take
                            advantage of the inherent value, without exposing your company to undue risk.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>