html {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: $text-color;
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-x: hidden;
}

a {
    color: $link-color;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:hover,
    &:active {
        color: $link-color--hover;
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

section {
    position: relative;
    z-index: 1;
}

.wrapper {
    background: $body-bg;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}

.content {
    flex: 1 0 auto;
}

.page-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    transition: padding .5s ease 0s;

    @include min-w($screen-md) {
        padding-left: 64px;
        padding-right: 64px;
    }

    @include min-w($screen-lg) {
        max-width: 95%;
    }

    @include min-w($screen-xxl) {
        padding-left: 130px;
        padding-right: 130px;
        max-width: 1920px;
    }
}

[data-aos-delay] {
    @include max-w($screen-lg) {
        transition-delay: 0s !important;
    }
}

.hidden {
    display: none;
}