//  Миксины

@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin clearlist {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

// Media Queries Min Width

@mixin min-w($width) {
    @media screen and (min-width: $width) { @content; }
}

// Media Queries Max Width

@mixin max-w($width) {
    @media screen and (max-width: $width) { @content; }
}

// Fluid font size
// $f-min - min font size
// $f-max - max font size
// $w-min - min window width
// $w-max - max window width
// $fallback - default font size for old browsers support
// $units - measure units (e.x. px, em, rem, vw)
@mixin fluid-font($fMin, $fMax, $wMin, $wMax, $fallback: false, $units: px) {

    font-size: $fMin;

    @media (min-width: $wMin) {
        @if ($fallback) {
            font-size: $fallback;
        }
        font-size: calcFluidFontSize($fMin, $fMax, $wMin, $wMax, $units);
    }
    @media (min-width: $wMax) {
        font-size: $fMax;
    }
}

@keyframes open {
    0% {
        display: flex;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-30%);
    }
    100% {
        display: flex;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-200px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@keyframes fade-up {
    0% {
        display: flex;
        opacity: 0;
        visibility: hidden;
        transform: translateY(30%);
    }
    100% {
        display: flex;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@keyframes down {
    0% {
        margin-top: 0;
    }
    20% {
        margin-top: 15px;
    }
    40% {
        margin-top: 0;
    }
}

@keyframes move {
    0% {
        top: 50%;
        opacity: 1;
    }

    100% {
        top: 135%;
        opacity: 0;
    }
}

@keyframes tagScaleIn {
    0% {
        transform: scale(0);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}